body{
  background-color: #000b84;
  text-align: center;
  box-sizing: border-box;
}
body h1{
  font-size: 6rem;
  margin: 0;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: black;
}
h1:hover{
  background-color:black;
  color:white;
}