*, 
::before, 
:after {
  box-sizing: border-box;
  font-family: helvetica;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
:root{
  --titulo-nome:#38040e;
  --titulo-profile: #38040e;
  --back-profile:#e4dfda;
  --back-historia:#38040e;
  --hover:#e4dfda;
  --border-historia: #e4dfda;
  --titulo-conheci:#595A4A;
  --back-contato:#f18805;
}
a:hover {
  text-decoration: none;
  color: var(--hover);
}
a{
  text-decoration: none;
  font-weight:bolder;
  color: black;
  transition: 0.5s;
}
.header{
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  background-color: var(--back-contato);
}
.header-title{
  text-decoration: none;
  color: var(--titulo-nome);
  font-size: 5rem;
}
.nav-top{
  display: flex;
  align-items: center;
}
.nav-top a{
  padding: 5rem;
  font-size: 3rem;
}
/* First Conteiner */
.home-container{
  display: flex;
  justify-content: space-evenly;
  margin: 15rem 0rem 15rem 4rem;
  
}
.profile-col{
  padding: 5rem;
  align-items: center;
  background-color: var(--back-profile);
  border-bottom-left-radius: 20rem;
  border-top-left-radius: 20rem;
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: solid var(--titulo-conheci) 10px;
}
.content-elements{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}
.content-elements h1{
  font-size: 5rem;
  align-self: center;
}
.content-elements h2{
  font-size: 4rem;
  font-family:'helvetica' sans-serif;
  align-self: center;
}
.content-elements p{
  align-self: center;
  font-size: 2.5rem;
  color: gray;
}
.content-elements h2 strong{
  transition: 0.90s;
  color: var(--titulo-profile);
}
.content-img{
  width: 22rem;
  border-radius: 400px;
  align-self: center;
  box-shadow: -0.8rem 0.40rem 0.5rem #00000040
}
.second-content{
  background-color: var(--back-historia);
  color: white;
  align-items: center;
  display: flex;
  padding: 8rem 4rem;
  border-bottom: solid var(--titulo-profile) 10px;
}
.second-content h1{
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
.second-section-content{
  width: 50%;
}
.first-paragrafo{
  border-top: solid var(--border-historia) 0.2rem;
  padding: 1rem 0 1rem 0;
}
.second-paragrafo{
  border-bottom: solid var(--border-historia) 0.2rem;
  padding: 1rem 0 1rem 0;
}
.second-content p{
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.25rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.content-about{
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.about-img{
  width: 22rem;
}
.article-conhecimentos{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 12rem 0rem 12rem 0rem;
  width: 100%;
}
.section-conheci{
  width: 45%;
  margin: 2rem;
}
.first{
  color: var(--titulo-profile);
  font-size: 6rem;
  font-weight: bolder;
  width: 100%;
  justify-content: center;
  display: flex;
}
.h1-conheci{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-top: 8rem;
  color: var(--titulo-conheci);
}
.div-conheci{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-top: 5rem;
}
.div-conheci p{
  display: flex;
  justify-content: center;
  width: 50%;
  text-align: center;
  align-items: center;
  height: 8rem;
  font-size: 2.3rem;
}
.div-conheci p:hover{
  color:var(--back-contato);
}
.art-contato{
  background-color: var(--back-contato);
}
.art-contato{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 1rem 0rem 1rem 0rem;
  width: 100%;
}
.art-contato h1{
  font-size: 5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  color: var(--hover);
  border-bottom: #e4dfda solid 5px;
}
.art-contato h1:hover{
  color:var(--back-historia);
}
.sec-contato{
  width: 100%;
  margin: 0.8rem;
}
.div-contato{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  margin-top: 2rem;
  width: 100%;
}
.div-contato a img{
  align-items: center;
  display: flex;
  height: 8rem;
}
.div-contato a{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem 10rem 2rem 10rem;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 4rem;
  font-size: 1.2rem;
}
@media screen and(max-width:1282px) {
  .header{
    justify-content: center;
    margin: 1rem;
  }.nav-top{
    display: none;
  }.header-title{
    font-size: 2rem;
  }main{
    margin: 1rem;
    padding:0 ;
  }
}
  